*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// variable
$primaryColor: rgb(59 130 246);
$borderColor: rgb(120 113 108);

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: $primaryColor;
  color: #fff;
  text-align: center;
  padding: 3.125rem 0;
  margin-bottom: 3.125rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form {
  border: .0625rem solid $borderColor;
  padding: 40px;
}

.form__group {
  margin-bottom: 20px;
}

.form__group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.dropdown {
  position: relative;
}

.dropdown__selected {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 20px 0 10px;
  font-size: 14px;
  border: .0625rem solid $borderColor;
  position: relative;
  cursor: pointer;
  transition: box-shadow .3s ease;
}

.dropdown__selected::after {
  content: '';
  top: calc(50% - .125rem);
  right: 10px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  border-top: .0625rem solid #000;
  border-width: 4px;
  margin-left: -4px;
}


.dropdown__selected:hover {
  box-shadow: 0 0 .3125rem rgba(0, 0, 0, .1);
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: .0625rem solid $borderColor;
  border-top: 0;
  background-color: #fff;
  z-index: 5;
  display: none;
}

.dropdown__menu_items {
  min-height: auto;
  overflow-y: auto;
}

.dropdown__menu_search {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: .0625rem solid $borderColor;
  padding: 12px;
  outline: none;
  background-color: #f9f9f9;
}

.dropdown__menu_item {
  padding: .625rem;
  border-bottom: 1px solid $borderColor;
  font-size: .875rem;
  cursor: pointer;
}

.dropdown__menu_item:last-child {
  border-bottom: 0;
}

.dropdown__menu_item:hover {
  background-color: $borderColor;
}

.dropdown__menu_item.selected,
.dropdown__menu_item.selected:hover {
  background-color: $primaryColor;
  color: #fff;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background-color: $primaryColor;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
}