*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  padding: 30px;
}

.input-control {
  display: flex;
  align-items: center;
  max-width: 450px;
  background-color: #f4f4f4;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
}

.input-control input {
  width: 100%;
  font-size: 18px;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 10px;
  outline: 0;
  border: 0;
  color: #000;
  background-color: #fff;
  font-size: 12px;
}

.input-control input::placeholder{
  color: #838f9f;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(2n+1) {
  background-color: #eee;
}

th {
  background-color: #000;
  color: #FFF;
}

th, td {
  padding: 10px;
  text-align: left;
  border: solid 1px #ccc;
}