@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 20px;
}

/* Start Here */

body {
  background-color: var(--dark-grey);
}

.box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  
}

.music {
  min-width: 90%;
  position: relative;
  background-color: var(--white);
  // border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
}

.music-player {
  display: flex;
  flex-wrap: wrap;
}

// header

.music-player header {
  margin-bottom: 1rem;
  flex: 1 0 100%;
}

.music-player header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-player header ul .fas {
  font-size: 1.6rem;
}
.music-player header ul .fa-bars {
  cursor: pointer;
}

.music-player header h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

// Details

.details {
  text-align: center;
  flex: 1 0 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details img {
  width: 70px;
  border: 1px solid var(--color-sec);
  margin-bottom: 1rem;
}

.details .artist {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--light-blue);
}

// Player Controls

.controls {
  display: flex;
  flex: 1 0 80%;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  
  width: auto;
  background-color: var(--dark-grey);
}

.controls .song-timer {
  display: flex;
  justify-content: space-between;
  flex: 1 0 100%;

  color: var(--white);

  font-weight: 600;
  margin: 1rem 0;
}

.controls  .duration {
  flex: 1 0 100%;
}

.controls  .buttons {
  flex: 1 0 100%;
}

.controls  .volume {
  display: flex;
  flex: 1 0 100%;
}

// Range slider

input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  width: 100%;
  height: 2px;
  background: #3e3038;
  background: linear-gradient(
    90deg,
    rgba(117, 20, 241, 1) 0%,
    rgba(175, 26, 170, 1) 12%,
    rgba(233, 61, 90, 1) 19%,
    rgba(62, 48, 56, 1) 19%
  );
}

/* Chrome & Safari */
.duration input[type="range"]::-webkit-slider-thumb, .volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background: var(--light-blue);
  // border-radius: 50%;
  cursor: pointer;
}

// PlayList

.music-playist {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba($color: #000000, $alpha: .9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all .5s;
}