.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 968px;
    margin: 0 auto;

    .item {
        width: calc(100%/4 - 20px);
        height: 250px;
        background-color: crimson;
        margin: 10px;
    }


    @media screen and (max-width: 968px) {
        max-width: 100%;

        .item  {
            width: calc(100%/2 - 20px);
        }
    }
}