.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 968px;
  margin: 0 auto; }
  .container .item {
    width: calc(100%/4 - 20px);
    height: 250px;
    background-color: crimson;
    margin: 10px; }
  @media screen and (max-width: 968px) {
    .container {
      max-width: 100%; }
      .container .item {
        width: calc(100%/2 - 20px); } }
